.countriesList {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.countriesList h1 {
  text-align: center;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.searchContainer input {
  padding: 0.5em;
  font-weight: bold;
  border: none;
}
.searchContainer input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
